doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Movie Seat Booking
    link(href=require("./favicon.ico"), rel='shortcut icon')
  body
    h1.heading-primary Movie Seat Booking
    .movie
      .movie__poster-ghost
      .movie__poster-lion
      .movie__poster-avengers
      .movie__poster-assasins
      .movie__left
        h2.heading-secondary Movie Selected
        .movie__selected
          .movie__poster
          .movie__info
            .movie__info-row
              h3.heading-tertiary.heading-tertiary--medium Director
              h3.heading-tertiary Rupert Sanders
            .movie__info-row
              h3.heading-tertiary.heading-tertiary--medium Starring
              h3.heading-tertiary Scarlett Johansson, Pilou Asbæk, Takeshi Kitano
            .movie__info-row
              h3.heading-tertiary.heading-tertiary--medium Genre
              h3.heading-tertiary Action, Drama, Sci-Fi
        .movie__display
          p.display
            | Ticket price:&nbsp;
            span.display__currency $
            span#price.display__price 12

      .movie__right
        .movie__pick
          h2.heading-secondary Pick a movie to watch:
        .movie__checkboxes
          .movie__check
            input#movie-ghost(name="movie-ghost", type="checkbox", checked)
            label.heading-tertiary(for="movie-ghost") Ghost in the Shell
          .movie__check
            input#movie-lion(name="movie-lion", type="checkbox")
            label.heading-tertiary(for="movie-ghost") The Lion King
          .movie__check
            input#movie-assasins(name="movie-assasins", type="checkbox")
            label.heading-tertiary(for="movie-ghost") Assassin's Creed
          .movie__check
            input#movie-avengers(name="movie-avengers", type="checkbox")
            label.heading-tertiary(for="movie-ghost") Avengers Endgame
        .movie__wrapper
          .movie__screen
          .movie__seats
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat
              .movie__seat
              .movie__seat
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat.reserved
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat.reseverd
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
            .movie__row
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
              .movie__seat
        .movie__showcase
          p.text.text--available Available Seat
          p.text.text--reserved Reserved Seat
          p.text.text--selected Your Seat
        .movie__display
          p.display
            | You have selected&nbsp;
            span#count 0
            | &nbsp;seats for a price of&nbsp;
            span.display__currency $
            span#total.display__price 36
